<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Temp | Текст</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" /><![endif]-->
</head>
<body>
	<div id="wrapper">
    	<div id="header">
        	<a class="logo" href="javascript:void(0)" title=""></a>
            <div class="info">
            	<h2>+7 (495) 968-29-18</h2>
                <a class="question" href="javascript:void(0)" title="">Есть вопрос? Напишите нам!</a>
                <ul>
                	<li class="mail"><a href="javascript:void(0)" title=""></a></li>
                    <li class="twitter"><a href="javascript:void(0)" title=""></a></li>
                    <li class="icq">267589741</li>
                </ul>
            </div> <!-- info -->
        </div> <!-- header -->
        <div id="content">
        	<div class="aside">
             <div class="nav-outer">
            	<ul class="nav">
                	<li><a href="javascript:void(0)" title="">О компании<span></span></a></li>
                    <li><a href="javascript:void(0)" title="">Прайс-лист<span></span></a></li>
                    <li><a href="javascript:void(0)" title="">Как купить<span></span></a></li>
                    <li><a href="javascript:void(0)" title="">Реквизиты<span></span></a></li>
                    <li><a href="javascript:void(0)" title="">Контакты<span></span></a></li>
                </ul> <!-- nav -->
             </div> <!-- nav-outer-->
             <div class="search">
             	<span>поиск по сайту</span>
             	<form action="#" method="get">
                	<p class="txt">
                    	<input type="text" value="" />
                    </p>
                    <input class="btn" type="submit" value="" />
                </form> 
             </div> <!-- search -->
             <div class="clr"></div>
             <ul class="aside-catalog">
             	<li>
                	<a href="javascript:void(0)" title=""><strong></strong><span>Кирпич</span><em>(26)</em></a>
                    <ul>
                    	<li><a href="javascript:void(0)" title="">Строительный</a></li>
                        <li><a href="javascript:void(0)" title="">Лицевой</a></li>
                        <li><a href="javascript:void(0)" title="">Печной</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" title=""><span>Арматура</span><em>(12)</em></a></li>
                <li><a href="javascript:void(0)" title=""><strong></strong><span>Цемент смеси</span><em>(47)</em></a></li>
                <li><a href="javascript:void(0)" title=""><strong></strong><span>ЖБИ</span><em>(9)</em></a></li>
                <li><a href="javascript:void(0)" title=""><strong></strong><span>Блоки</span><em>(15)</em></a></li>
                <li><a href="javascript:void(0)" title=""><strong></strong><span>Пиломатериал</span><em>(4)</em></a></li>
                <li><a href="javascript:void(0)" title=""><strong></strong><span>Трубопроводная система</span><em>(2)</em></a></li>
                <li><a class="last" href="javascript:void(0)" title=""><strong></strong><span>Утеплитель</span><em>(78)</em></a></li>
             </ul> <!-- catalog -->
             <div class="news">
             	<h2>Новости компании</h2>
                <ul>
                	<li>
                    	<span>Дек 12, 2011</span>
                        <a href="javascript:void(0)" title="">Требуется на постоянную работу менеджер по продаже строительных...</a>
                    </li>
                    <li>
                    	<span>Дек 12, 2011</span>
                        <a href="javascript:void(0)" title="">Требуется на постоянную работу менеджер по продаже строительных...</a>
                    </li>
                    <li>
                    	<span>Дек 12, 2011</span>
                        <a href="javascript:void(0)" title="">Требуется на постоянную работу менеджер по продаже строительных...</a>
                    </li>
                    <li>
                    	<span>Дек 12, 2011</span>
                        <a href="javascript:void(0)" title="">Требуется на постоянную работу менеджер по продаже строительных...</a>
                    </li>
                    <li>
                    	<span>Дек 12, 2011</span>
                        <a href="javascript:void(0)" title="">Требуется на постоянную работу менеджер по продаже строительных...</a>
                    </li>
                </ul>
             </div> <!-- news -->
             <div class="subscribe">
             	<h2>подписаться на новости</h2>
                <form action="#" method="get">
                	<p class="txt">
                    	<input type="text" value="Ваш e-mail" />
                    </p>
                    <input class="btn" type="submit" value="" />
                </form> 
                <a href="javascript:void(0)" title="">отменить подписку</a>
             </div> <!-- subscribe -->
            </div> <!-- aside -->
            <div class="content-inner">
            	<div class="main-banner"></div>
                    <h1><span>оптовые поставки</span>строительных материалов</h1>
                    <div class="line"></div>
                    <p>ООО "Фортуна" работает более семи лет в московском регионе и специализируется
на оптовых поставках строительных материалов  для капитального строительства.</p>
                    <p>ООО "ФОРТУНА" является дилером ряда заводов строительных материалов.</p>
                    <div class="text-block">
                    Основная номенклатура предлагаемых материалов:
                        <ol>
                        	<li>Кирпич керамический полнотелый.</li>
                            <li>Камень двойной пустотелый.</li>
                            <li>Кирпич лицевой различных цветов.</li>
                            <li>Блоки строительные пенобетонные, фибропенобетонные, керамзитобетонные, газобетонные.</li>
                            <li>Пиломатериал обрезной.</li>
                            <li>Цемент и строительные смеси.</li>
                            <li>Железобетонные изделия.</li>
                            <li>Трубы полипропиленовые. Фитинги.</li>
                            <li>Плиты дорожные новые и б/у.</li>
                            <li>Металл.</li>
                        </ol>
                    </div>
                    <div class="text-block">
                      Наши партнеры:
                       <ul>
                       	   <li>ЗАО "ЮИТ Строй"</li>
                           <li>ООО "Компания НЕСТ"</li>
                           <li>ООО "КОСМОСАВИАСПЕЦСТРОЙ"</li>
                           <li>ООО "СтройРазвитие"</li>
                           <li>ООО "СтройДом"</li>
                           <li>ООО "СДР-Снаб"</li>
                           <li>ООО "Стройимпекс М"</li>
                           <li>ООО "Тверьстройлес"</li>
                           <li>ООО "Эльком"</li>
                           <li>ООО "Зелинжсети"</li>
                           <li>ООО "Верхневолжский кирпичный завод"</li>
                           <li>ООО Комбинат "Богородский"</li>
                           <li>ОАО "Ливенский комбинат строительных материалов"</li>
                           <li>ООО "АмегаСтрой"</li>
                           <li>ООО "Сафоновский кирпичный завод"</li>
                           <li>ООО "Сафоновская керамика"</li>
                           <li>ОАО "Лосиноостровский Завод СМиК"</li>
                           <li>ООО "Металло-Промышленная компания"</li>
                           <li>ООО "Торговый Дом "ЖБИ-бетон"</li>
                           <li>ООО "Промстрой" ROSSER</li>
                           <li>ООО "Кирпичный Дом"</li>
                           <li>ООО "СтальПро"</li>
                           <li>ООО "Милавида"</li>
                           <li>ОАО "Красноармейский комбинат строительных материалов"</li>
                           <li>ООО "Смоленский завод ЖБИ"</li>
                           <li>ООО "Тербунский гончар"</li>
                           <li>"Благотворительный фонд "Развитие-СД"</li>
                           <li>ОАО "Металлсервис" - член Российского Союза Поставщиков Металлопродукции</li>
                       </div>
                    </p>
            </div> <!-- content-inner -->
        </div> <!-- content -->
        <div id="footer">
        	<a class="f-logo" href="javascript:void(0)" title=""></a>
            <ul>
            	<li><a href="javascript:void(0)" title="">О компании</a></li>
                <li>|</li>
                <li><a href="javascript:void(0)" title="">Прайс-лист</a></li>
                <li>|</li>
                <li><a href="javascript:void(0)" title="">Как купить</a></li>
                <li>|</li>
                <li><a href="javascript:void(0)" title="">Реквизиты</a></li>
                <li>|</li>
                <li><a href="javascript:void(0)" title="">Контакты</a></li>
            </ul>
            <div class="clr"></div>
            <p>Copyright © ООО "Темп", 2012. <span>Все права защищены.</span></p>
        </div> <!-- footer -->
    </div> <!-- wrapper -->
</body>
</html>
